<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moengage_app_id</key>
	<string>LG57XKJRXH08N2L4KJQUEH6Y</string>
	<key>moengage_app_groups_id</key>
	<string>group.com.t2s.foodhub.moengage</string>
</dict>
</plist>
