<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.t2s">
    <application>
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                android:exported="true"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data android:host="customerapp.com" />
                <data android:scheme="http" />
                <data android:scheme="https" />

                <data android:path="/" />
                <data android:path="/terms-and-condition" />
                <data android:path="/terms-and-use" />
                <data android:path="/privacy" />
                <data android:path="/allergy" />
                <data android:pathPattern="/order-now" />
                <data android:pathPattern="/contact-us" />
                <data android:pathPattern="/review" />
                <data android:path="/book-table" />
            </intent-filter>
        </activity>




    </application>

</manifest>
